[Unit]
Description=Cloudflare DDNS Timer
After=network-online.target

[Timer]
OnBootSec=0
OnUnitActiveSec=30
Unit=ddns@%i.service

[Install]
WantedBy=multi-user.target
